---
---

<!DOCTYPE html>
<html lang='en'>
  <head>
    <title>{{ title }}</title>
  </head>

  <body>

    <header>
      <h1>{{ title }}</h1>
    </header>

    <main>
      This sentence is from the base.njk layout
      <p>
      {{ content | safe }}
    </main>

  </body>
</html>
