<em-footer>
  <em-copyright>© 2024 Jeremy Ellington</em-copyright>
  <a class="github-logo" href="https://github.com/memestreak">
    <img class="github-logo" src="/assets/img/github-mark.svg"
             alt="GitHub repository for user memestreak" class="svg-logo"
             width="20" height="20" />
  </a>
</em-footer>
