<em-footer>
  <em-copyright>© {{ build.year }} {{ site.author }}</em-copyright>
  <a class="github-logo" href="https://github.com/memestreak">
    <img src="/assets/img/github-mark.svg" alt="GitHub profile"
         class="svg-logo" width="20" height="20" />
  </a>
</em-footer>
