<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="{{ '/css/style.css' }}">
<script src="/assets/js/jquery-3.7.1.js"></script>
<script src="/assets/js/nav_link_highlight.js"></script>

