<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="{{ '/style/style.css' }}">
<script src="/assets/js/jquery-3.7.1.js"></script>
<script src="/assets/js/nav_link_highlight.js"></script>
<link rel="shortcut icon" type="image/svg+xml" href="/assets/img/eminor-logo-white-bg.svg">
<link href="https://unpkg.com/prismjs@1.20.0/themes/prism-okaidia.css" rel="stylesheet"/>
