<em-navbar>

  <em-navbar-home-logo>I'm the navbar home logo.</em-navbar-home-logo>

  <ul class="em-navbar-links">
    {%- for link in navigation.main -%}
    <li class="em-navbar-link">
      <a href="{{ link.url }}"{% if link.description %} title="{{ link.description }}"{% endif %}>{{ link.title }}</a>
    </li>
    {%- endfor -%}
  </ul>

</em-navbar>
