<em-navbar>

  <em-navbar-home-logo>I'm the navbar home logo.</em-navbar-home-logo>

  <nav class="container">
    {%- for link in navigation.main -%}
      <a href="{{ link.url }}"{% if link.description %} title="{{ link.description }}"{% endif %}>{{ link.title }}</a>
    {%- endfor -%}
  </nav>

</em-navbar>
