@charset "utf-8";

@use 'sass:color';

@import "http://fonts.googleapis.com/css?family=Droid+Sans";
@import "http://fonts.googleapis.com/css?family=Open+Sans";

$base-color-very-dark: lightgrey;
$text-color: #ffffff;
$color-green: #73AD21;

$border-radius: 25px;

// Debugging
// * { outline: 1px dashed red ;}

:root {
    background: #222222;
}

body {
    margin: 3%;
    font-family: 'Open Sans', erif;
}

.svg-logo {
    fill: white;
}

.navbar-link-container {
    // float: right;
    display: inline-flex;
    gap: 10%;
  margin-left: 80%;
}

.navbar-link {
    border-radius: 8px;
    display: inline;
    text-decoration: none;
    outline-color: transparent;
    text-align: center;
    line-height: 2em;
    color: black;
    &.active {
        background-color: $color-green;
    }
}

a:link,
a:visited,
a:focus {
    // background-color: color.adjust($color-green, $lightness: 1% );
    color: black;
}

a:hover {
    background-color: color.adjust($color-green, $lightness: 20% );
}

a:active {
    color: white;  // Text color
}

em-navbar {
    border-radius: $border-radius;
    display: block;
    background: olive;

    em-navbar-home-logo {
        // color: white;
        display: inline;
    }

    // See "styling links as buttons" at..
    // https://developer.mozilla.org/en-US/docs/Learn/CSS/Styling_text/Styling_links
    ul.em-navbar-link-list {
        display: inline;
        li {
            display: inline;
            a {
                text-decoration: none;
                // color: $text-color;
            }
            a:hover {
            }
        }
    }
}

em-footer {
    border-radius: 25px;
    display: block;
    background: pink;
}

.em-rcorners {
  border-radius: 25px;
  background: $color-green;
  padding: 20px; 
}
