<!DOCTYPE html>
<html lang='en'>
<head>
<title>{% if title and title != site.title %}{{ title }} · {% endif %}{{ site.title }}</title>
{% include "head.njk" %}
</head>
<body>
{% include "navbar.njk" %}
<main>
{{ content | safe }}
</main>
{% include "footer.njk" -%}
</body>
</html>
